.CandyList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 3px 3px 3px #ccc;
  padding: 3rem;
  margin: 3rem 0;
}

.CandyList h3 {
  font-size: 3rem;
}

.CandyList li {
  font-size: 2rem;
  padding: 1.5rem .5rem;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  box-shadow: 2px 2px 3px 2px #ccc;
  border-radius: 1rem;

}

.CandyList li span {
  /* margin: 0 .3rem; */
  color: #2370fe;
  width: 20%;
  font-size: 2rem;
  padding: 0;

}

.CandyList li span small.increase {
  color: greenyellow;
  margin: 0 .4rem;
}

.CandyList li span small.decrease {
  color: tomato;
  margin: 0 .4rem;
}

.CandyList .cta span {
  margin: 0 .6rem;
  cursor: pointer;
}

.CandyList .cta #edit-pen {
  color: #fff;
}

.CandyList .cta #delete-icon {
  color: tomato;
}

.CandyStock {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.CandyStock h3 {
  font-size: 3rem;
}

.CandyStock .form-group label {
  font-size: 1.8rem;
}

.Edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Edit-form label strong {
  font-size: 2rem;
  /* border: 2px solid red; */
  text-align: left;
}